body{
    background-color:#3457D5;
  }
  .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding:10px 20px;
  }
  .box1{
    width: 50%;
    height: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color:grey;
    padding-bottom: 40px;
  }
  .left{
    width: 100%;
    height: 100vh;
   
   background-image:url("image/profile-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  nav{width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
  }
  .nav-left{
    padding: 5px;
    display: flex;
  align-items: center;
  gap: 2px;
  }
  .hearts{
    font-size: 10px;
    color: #ffff;
  }
  p{
    font-size: 14px;
    color: #ffff;
    
    font-weight: lighter;
  }
  svg{
    color: #ffff;
    width:14px;
    margin-left: 5px;
   
  }
  
  .nav-right{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    
  }
  .item2{
    padding-bottom: 40px;
  }
  .item2 p{
    color: #ffff;
    padding:0 70px;
  }
  .bottom{
    display: flex;
    gap: 10px;
    align-items: center;
    padding:0 70px;
    color: #ffff;
  
  }
  .bottom svg{
    width: 30px;
  }
  .box2{
    width: 50%;
    height: 530px;
    background-color: #ffff;
    padding-bottom: 40px;
    
  }
  .box2 .icon{
    display: flex;
   align-items:flex-end;
   justify-content: right;
   padding: 5px 10px;
  }
  .box2 .icon svg{
    color: #7c7a7a;
  }
  .profile{
    padding: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  .profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
  }
  .profile-img img{
    width: 100%;
    
    mix-blend-mode: multiply;
  
  }
  .profile-details{
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid  #7c7a7a;
    /* align-items: center;
    justify-content: center; */
  }
  .profile-details h2{
    color: #3457D5;
  }
  .profile-details h4{
    color: #7c7a7a;
    font-weight: lighter;
    font-size: 16px;
  }
  .profile-details p{
    color: #7c7a7a;
  
  }
  .social{
    display: flex;
    gap: 50px;
  }
  .social p{
    color: #7c7a7a;
  
  }
  .button{
  
     display: flex;
     justify-content: center;
    align-items: center;
  }
  button{
    width: 100%;
    background-color: #3457D5;
    border: none;
    padding: 10px 25px;
    color: #ffff;
   
  
  }
  
  @media screen and (max-width:678px){
    body{
       width: 100%;
    }
    .container{
       width: 100%;
       flex-direction: column;
    }
    .box1, .box2{
       width: 100%;
       height: 100vh;
    }
  }
  